.info {
    padding: 30px 0;
}

.info__table {
    width: 100%;
    max-width: 100%;
    margin: 30px 0;
}

.info__table-header{
    background-color: var(--button);
    color: #fff;
}

.info__table-data{
    background-color: #b8cce4;
    color: #000;
}

details {
    cursor: pointer;
}