#footer{
    padding-top: 35px;
}

.footer {
    padding: 35px 0 56px;
    background-color: #1E1F25;
}

.footer__row {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

.footer__img{
    width: 85px;
}

.footer__col{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    width: -webkit-fill-available;
}

.footer__col a:hover {
    color: var(--link-hover);
}

.footer__col-header{
    padding-bottom: 10px;
    font-weight: 300;
    font-size: 18px;
    color: #696f75;
}

.footer__row a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 14px;
}

.footer__row a:hover{
    background-color: #1E1F25;
}

.footer__text {
    font-size: 14px;
}

.footer__text-end{
    color: rgb(150, 147, 147);
    font-size: 14px;
}

.footer__col-social{
    display: flex;
    align-items: center;
}

.footer__col-social img {
    padding-left: 5px;
}